.vijay{
    background-color: blue;
}
.rajini{
    background-color:indianred;
}
.vs{
    background-color: chartreuse;
}
.kanna{
    background-color: green;
}
#abc{
    background-color: lightseagreen;
}